.key1-bg {
    background-color: #1FA774;
  }
.key2-bg {
    background-color: #34013F;
  }
.key3-bg {
    background-color: #FF9408;
  }
.key4-bg {
    background-color: #CB416B;
  }

.keyboard-bg {
    background-color: #BDF6FE;
  }

.page-bg {
    background-color: #FFFFE4;
  }